body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Agdasima', sans-serif;
    font-size: 1.25rem;
    margin:0;
    padding: 0;
}

main {
    flex: 1 0 auto;
}
/* Specific changes*/
.bg-black{
  background-color: black;
}

.text-white{
  color: white;
}

.underline{
  text-decoration: underline;
}

.inline{
  display: inline-block;
}

.align-center{
  text-align: center;
}

/* index.html styling */
.brand-logo{
  padding-left: 5px;
}

.home-image{
  width: 100%;
  height: 100%;
}

.heading{
  font-size: 3rem;
}

.info {
  text-align: center;
  font-size: 2.25rem;

}

/* menu.html styling */

.menu{
  text-align: center;
}

/* Footer */
.page-footer{
  margin-top: auto;

}