{% extends "base.html" %}


{% block content %}
<div class="row">
    <div class="col">
        <img src="static/images/food-side.jpg" class="home-image"  alt="">
    </div>
    <div class="col info">
      <p class="heading underline">Welcome to The Best</p>
      <p>We are exactly what it says on the tin. The best restaurant around. Want to find out if its true. Click below to book a reservation.</p>
      <a href="{% url 'reservation' %}" class="btn btn-primary btn-lg bg-black" role="button" >Book Here</a>
    </div>
  </div>
    
{%endblock%}