{% extends "base.html" %}

{% block content %}
<h1 class="align-center">Open Times</h1>

</div class="menu">
<h3 class="align-center">View our opening times</h3>
<ul class="list-group list-group-flush inline">
    <li class="list-group-item align-center">Monday         5pm - 11pm</li>
    <li class="list-group-item align-center">Tuesday         5pm - 11pm</li>
    <li class="list-group-item align-center">Wednesday         5pm - 11pm</li>
    <li class="list-group-item align-center">Thursday         5pm - 11pm</li>
    <li class="list-group-item align-center">Friday         5pm - Late</li>
    <li class="list-group-item align-center">Saturday         5pm - Late</li>
    <li class="list-group-item align-center">Sunday         5pm - Late</li>

</ul>

{%endblock%}